body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black; }
  nav .logo1 {
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: center; }
  nav .nav-links {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 50%; }
    nav .nav-links a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8vh;
      width: 80px;
      transition: all 0.5s ease;
      color: white;
      text-decoration: none; }
      nav .nav-links a:hover {
        color: black; }
    nav .nav-links li {
      transition: all 0.5s ease;
      height: 8vh;
      list-style: none; }
      nav .nav-links li:hover {
        cursor: pointer;
        color: black;
        background-color: white; }
  nav .burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease; }
  nav .burger {
    display: none; }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  .site_wrapper {
    overflow: hidden;
    position: relative; }

  .nav-links {
    z-index: 2;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }

  .nav-links li {
    opacity: 0; }

  nav .burger {
    display: block;
    cursor: pointer; } }
.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px); }

.landing {
  background-color: white;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 33.4vw);
  grid-template-rows: 30vh 60vh; }
  @media screen and (max-width: 850px) {
    .landing {
      grid-template-columns: 100vw;
      grid-template-rows: 500px 500px;
      background-color: black; } }
  .landing .back_img1 {
    background-color: black;
    background-size: cover;
    height: 90vh;
    background-position: right;
    grid-area: 1 / 1 / 3 / 2; }
    @media screen and (max-width: 850px) {
      .landing .back_img1 {
        display: none; } }
  .landing h2 {
    padding-top: 50px;
    line-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-size: 7rem;
    color: white;
    grid-area: 1 / 1 / 2 / 3;
    z-index: 1; }
    @media screen and (max-width: 850px) {
      .landing h2 {
        grid-area: 1 / 1 / 2 / 2; } }
  .landing .about_section {
    font-size: 0.9rem;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2; }
  .landing .matt_img {
    grid-area: 1 / 2 / 3 / 3;
    background: url("../imgs/about/matt_img.jpg");
    background-size: cover;
    background-position: center; }
    @media screen and (max-width: 850px) {
      .landing .matt_img {
        grid-area: 1 / 1 / 2 / 2; } }
  .landing .back_img2 {
    margin-left: 50px;
    background-image: url("../imgs/about/1.png");
    background-position: left;
    background-size: cover; }
    @media screen and (max-width: 850px) {
      .landing .back_img2 {
        display: none; } }

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  color: white; }
  .footer a {
    text-decoration: none;
    color: white;
    display: block; }
  .footer .foot_link {
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 400;
    padding: 10px; }
    .footer .foot_link:hover {
      border: white 2px solid;
      padding: 8px; }
  .footer .foot_link_img {
    margin-top: 10px;
    width: 20px;
    height: 20px; }

/*# sourceMappingURL=about.css.map */
